  
 .category{ 
     margin-top:5em;
     margin-left: 50px;
    place-content: center;
     position:fixed;
    //  width: 100%;
    //  height: 100%;
    max-width: 70%;
    background: white;
     padding: 2em;
     display:table-column;
     
     border-radius: 2em;

 }
  
 
 .cat-item span{
    margin: 1.3em;
    margin-bottom: 2em;
 }
input{    
    border-radius: .5em;
}

.button{
display: flex;
margin-left: -2em;
}
.p-grid{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}