<p-card>
    <div class="p-fluid p-grid">
        <div class="p-field p-col-6 p-md-4">
            <span class="p-float-label">
                <input type="text" id="slno" pInputText [(ngModel)]="SlNo">
                <label for="slno">Sl No</label>
            </span>
        
        
            <span class="p-float-label">
                <input type="text" id="catname" pInputText [(ngModel)]="Category">
                <label for="catname">Category</label>
            </span>
        </div>
        <div class="p-field p-col-6 p-md-4">
            <span class="p-float-label">
                <input type="text" id="make" pInputText [(ngModel)]="Make">
                <label for="make">Make</label>
            </span>
         
            <span class="p-float-label">
                <input type="text" id="quantity" pInputText [(ngModel)]="Quantity">
                <label for="quantity">Quantity</label>
            </span>
        </div>
         
    </div>
     
</p-card>

 